xsd/mpd-catalog-3.0.xsd

<?xml version="1.0" encoding="US-ASCII"?>
<schema
    ct:conformanceTargets="http://reference.niem.gov/niem/specification/naming-and-design-rules/3.0/#ExtensionSchemaDocument"
    targetNamespace="http://reference.niem.gov/niem/resource/mpd/catalog/3.0/"
    version="3.0"
    xmlns:appinfo="http://release.niem.gov/niem/appinfo/3.0/"
    xmlns:c"http://reference.niem.gov/niem/resource/mpd/catalog/3.0/"
    xmlns:ct="http://release.niem.gov/niem/conformanceTargets/3.0/"
    xmlns:nc="http://release.niem.gov/niem/niem-core/3.0/"
    xmlns:s="http://release.niem.gov/niem/structures/3.0/"
    xmlns:term="http://release.niem.gov/niem/localTerminology/3.0/"
    xmlns="http://www.w3.org/2001/XMLSchema">

    <import namespace="http://release.niem.gov/niem/structures/3.0/"/>
    <import namespace="http://release.niem.gov/niem/niem-core/3.0/"/>

    <annotation>
      <documentation>
          Model Package Description (MPD) Catalog. 
          This schema defines a mpd-catalog.xml artifact 
          for NIEM Model Package Descriptions (MPD):
             NIEM releases, core updates, domain updates, 
             NIEM Information Exchange Package Documentation (IEPD), 
             and NIEM Enterprise Information Exchange Models (EIEM). 
          The purpose of this schema is to define/declare relatively 
          consistent MPD content structure and metadata to process, 
          display, review, register, search, discover MPDs efficiently. 
      </documentation>
      <appinfo>
        <term:LocalTerm term="AS"    literal="Authoritative Source"/>
	<term:LocalTerm term="EIEM"  literal="Enterprise Information Exchange Model"/>
	<term:LocalTerm term="IANA"  literal="Internet Assigned Numbers Authority"/>
	<term:LocalTerm term="ID"    literal="Identifier"/>
	<term:LocalTerm term="IEP"   literal="Information Exchange Package" definition="an instance XML document"/>
        <term:LocalTerm term="IEPD"  literal="Information Exchange Package Documentation"/>
	<term:LocalTerm term="MPD"   literal="Model Package Description"/>
        <term:LocalTerm term="OASIS" literal="Organization for the Advancement of Structured Information Standards"/>
	<term:LocalTerm term="POC"   literal="Point of contact"/>
	<term:LocalTerm term="SSGT"  literal="Schema Subset Generation Tool"/>
        <term:LocalTerm term="URI"   literal="Uniform Resource Identifier"/>
	<term:LocalTerm term="Wantlist" definition="An XML file that represents a NIEM schema document subset; used by NIEM Schema Subset Generation Tool to input/output a schema document subset"/>
      </appinfo> 
    </annotation>

    <element name="Catalog" type="c:CatalogType"/>
      <annotation>
	<documentation>An MPD catalog</documentation>
      </annotation>

    <complexType name="CatalogType">
      <annotation>
	<documentation>A datatype for an MPD catalog</documentation>
      </annotation>
        <sequence>
            <element ref="c:MPD"/>
        </sequence>
    </complexType>

    <element name="MPD" type="c:MPDType"/>    
      <annotation>
        <documentation>A Model Package Description (MPD).</documentation>
      </annotation>

    <complexType name="MPDType">
      <annotation>
        <documentation>A datatype for an MPD</documentation>
      </annotation>
      <complexContent>
        <extension base="s:ObjectType">
          <sequence>
            <element ref="c:Metadata"/>
            <element ref="c:MPDCatalog"/>
            <element ref="c:MPDChangeLog"/>
            <element ref="c:MasterDocument"              minOccurs="0"/>
	    <element ref="c:BaseSchemaDocumentSet"       minOccurs="0"/>
            <element ref="c:ReferenceSchemaDocumentSet"  minOccurs="0" maxOccurs="unbounded"/>
	    <element ref="c:ConstraintSchemaDocumentSet" minOccurs="0" maxOccurs="unbounded"/>
            <element ref="c:SampleXMLInstanceDocument"   minOccurs="0" maxOccurs="unbounded"/>
	    <element ref="c:BusinessRules"               minOccurs="0" maxOccurs="unbounded"/>
	    <element ref="c:ExtendedMPDMetadata"         minOccurs="0" maxOccurs="unbounded"/>
	    <element ref="c:XMLCatalog"                  minOccurs="0" maxOccurs="unbounded"/>
	    <element ref="c:IEP"			 minOccurs="0" maxOccurs,"unbounded"/>
          </sequence>
          <attribute ref="c:mpdURI"          use="required"/>
          <attribute ref="c:mpdClassCode"    use="required"/>
          <attribute ref="c:mpdName"         use="required"/>
          <attribute ref="c:mpdVersionID"    use="required"/>
          <attribute ref="c:descriptionText" use="optional"/>
        </extension>
      </complexContent>
    </complexType>

    <element name="Artifact" abstract="true"/>
      <annotation>
        <documentation>An file or file set (directory) in an MPD</documentation>
      </annotation>

    <complexType name="FileSetType">
      <annotation>
        <documentation>A datatype for an MPD file set artifact</documentation>
      </annotation>
      <complexContent>
        <extension base="s:ObjectType">
          <sequence>
            <element ref="c:Artifact" minOccurs="0" maxOccurs="unbounded"/>
          </sequence>
          <attribute ref="c:pathID"          use="required"/>
          <attribute ref="c:descriptionText" use="optional"/>
          <attribute ref="c:externalURI"     use="optional"/>
        </extension>
      </complexContent>
    </complexType>

    <complexType name="FileType">
      <annotation>
        <documentation>A datatype for an MPD file artifact</documentation>
      </annotation>
      <complexContent> 
        <extension base="s:ObjectType">
          <sequence>
            <element ref="c:RequiredFile" minOccurs="0" maxOccurs="unbounded"/>
          </sequence>
          <attribute ref="c:pathID"          use="required"/>
          <attribute ref="c:mimeMediaType"   use="optional"/>
          <attribute ref="c:descriptionText" use="optional"/>
          <attribute ref="c:externalURI"     use="optional"/>
        </extension>
      </complexContent>
    </complexType>

    <element name="RequiredFile" type="c:FileType"/>
      <annotation>
        <documentation>An MPD file artifact that another artifact depends on and should not be separated from</documentation>
      </annotation>

    <element name="File"                      type="c:FileType" substitutionGroup="c:Artifact"/>
      <annotation>
        <documentation>A generic file artifact in an MPD</documentation>
      </annotation>
    <element name="MPDCatalog"                type="c:FileType" substitutionGroup="c:Artifact"/>
      <annotation>
        <documentation>An mpd-catalog artifact</documentation>
      </annotation>
    <element name="MPDChangeLog"              type="c:FileType" substitutionGroup="c:Artifact"/>
      <annotation>
        <documentation>An MPD artifact that contains a record of the MPD changes</documentation>
      </annotation>
    <element name="MasterDocument"            type="c:FileType" substitutionGroup="c:Artifact"/>
      <annotation>
        <documentation>An MPD master document (readme) artifact</documentation>
      </annotation>
    <element name="ExtendedMPDMetadata"       type="c:FileType" substitutionGroup="c:Artifact"/>
      <annotation>
        <documentation>An MPD metadata artifact that adds optional author-defined metadata</documentation>
      </annotation>
    <element name="SampleInstanceXMLDocument" type="c:FileType" substitutionGroup="c:Artifact"/>
      <annotation>
        <documentation>An example MPD instance xml document or IEP artifact</documentation>
      </annotation>
    <element name="BusinessRules"             type="c:FileType" substitutionGroup="c:Artifact"/>
      <annotation>
	  <documentation>An MPD artifact that contains business rules 
		  and constraints on exchange content</documentation>
      </annotation>
    <element name="Wantlist"                  type="c:FileType" substitutionGroup="c:Artifact"/>
      <annotation>
	<documentation>An MPD artifact that represents a NIEM schema subset 
		and is used as an import or export for the NIEM SSGT</documentation>
      </annotation>
    <element name="ExternalSchemaDocument"    type="c:FileType" substitutionGroup="c:Artifact"/>
      <annotation>
        <documentation>An MPD artifact that is a schema document external to NIEM</documentation>
      </annotation>
    <element name="ReferenceSchemaDocument"   type="c:FileType" substitutionGroup="c:Artifact"/>
      <annotation>
        <documentation>An MPD artifact that is a NIEM reference schema document</documentation>
      </annotation>
    <element name="ExtensionSchemaDocument"   type="c:FileType" substitutionGroup="c:Artifact"/>
      <annotation>
        <documentation>An MPD artifact that is a NIEM extension schema document</documentation>
      </annotation>
    <element name="SubsetSchemaDocument"      type="c:FileType" substitutionGroup="c:Artifact"/>
      <annotation>
        <documentation>An MPD artifact that is a subset schema document</documentation>
      </annotation>
    <element name="XMLCatalog"                type="c:FileType" substitutionGroup="c:Artifact"/>
      <annotation>
        <documentation>An MPD artifact that is an OASIS XML catalog </documentation>
      </annotation>
    <element name="Documentation"             type="c:FileType" substitutionGroup="c:Artifact"/>
      <annotation>
        <documentation>An MPD artifact that is a form of explanatory documentation</documentation>
      </annotation>
    <element name="ApplicationInfo"           type="c:FileType" substitutionGroup="c:Artifact"/>
      <annotation>
        <documentation>An MPD artifact that is used (e.g., imported or exported) by a software tool</documentation>
      </annotation>

    <element name="BaseSchemaDocumentSet"
             type="c:BaseSchemaDocumentSetType"      substitutionGroup="c:Artifact"/>
      <annotation>
	  <documentation>An MPD set artifact that may include a schema document subset, 
	  as well as reference, extension, exchange, and external schema documents
	  </documentation>
      </annotation>
    <element name="ConstraintSchemaDocumentSet"
             type="c:BaseSchemaDocumentSetType"      substitutionGroup="c:Artifact"/>
      <annotation>
	  <documentation>An MPD set artifact that may contain one or more constraint 
	  schema documents</documentation>
      </annotation>
    <element name="ReferenceSchemaDocumentSet"
             type="c:ReferenceSchemaDocumentSetType" substitutionGroup="c:Artifact"/>
      <annotation>
	  <documentation>An MPD set artifact that is a reference schema document set
	  </documentation>
      </annotation>

    <complexType name="BaseSchemaDocumentSetType">
      <annotation>
	  <documentation>A datatype for an MPD set artifact that may include a schema 
	  document subset, as well as reference, extension, exchange, and external schema 
	  documents</documentation>
      </annotation>
      <complexContent>
        <restriction base="c:FileSetType">
          <sequence>
            <element ref="c:ExtensionSchemaDocument" minOccurs="0" maxOccurs="unbounded"/>
            <element ref="c:SubsetSchemaDocument"    minOccurs="0" maxOccurs="unbounded"/>
            <element ref="c:ExternalSchemaDocument"  minOccurs="0" maxOccurs="unbounded"/>
            <element ref="c:ReferenceSchemaDocument" minOccurs="0" maxOccurs="unbounded"/>
            <element ref="c:Wantlist"                minOccurs="0"/>
          </sequence>
        </restriction>
      </complexContent>
    </complexType>

    <complexType name="ReferenceSchemaDocumentSetType">
      <annotation>
	  <documentation>A datatype for an MPD set artifact that is a reference schema 
	  document set </documentation>
      </annotation>
      <complexContent>
        <restriction base="c:FileSetType">
          <sequence>
            <element ref="c:ReferenceSchemaDocument" minOccurs="1" maxOccurs="unbounded"/>
          </sequence>
        </restriction>
      </complexContent>
    </complexType>
    
<!-- Primitives ========================================================= -->

    <attribute name="mpdURI"           type="anyURI"/>
      <annotation>
        <documentation>A URI for an MPD</documentation>
      </annotation>
    <attribute name="mpdClassCode"     type="c:MPDClassCodeSimpleType"/>
      <annotation>
	  <documentation>A classification for an MPD {rel, cu, du, iepd, eiem}</documentation>
      </annotation>
    <attribute name="mpdName"          type="string"/>
      <annotation>
        <documentation>A name for an MPD</documentation>
      </annotation>
    <attribute name="mpdVersionID"     type="c:MPDVersionIDSimpleType"/>
      <annotation>
	<documentation>A version number or identifier for an MPD</documentation>
      </annotation>
    <attribute name="externalURI"      type="anyURI"/>
      <annotation>
	  <documentation>A URI for an artifact reused in another MPD and that is equivalent to an artifact in this MPD</documentation>
      </annotation>
    <attribute name="pathID"           type="string"/>
      <annotation>
        <documentation>An expression for the operating system path name for an MPD artifact</documentation>
      </annotation>
    <attribute name="descriptionText"  type="string"/>
      <annotation>
	  <documentation>A short explanation that describes an MPD artifact or a relationship between MPDs</documentation>
      </annotation>
    <attribute name="mimeMediaType"    type="string"/>
      <annotation>
        <documentation>An IANA classification for an MPD file artifact</documentation>
      </annotation>
    <attribute name="resourceURI"      type="anyURI"/>
      <annotation>
        <documentation>A URI to another MPD or to a conformance target reference</documentation>
      </annotation>
    <attribute name="relationshipCode" type="c:RelationshipCodeSimpleType"/>
      <annotation>
        <documentation>A classification for a relationship between MPDs</documentation>
      </annotation>

    <simpleType name="MPDClassCodeSimpleType">
      <annotation>
        <documentation>A datatype for the classification of an MPD</documentation>
      </annotation>
        <restriction base="token">
            <enumeration value="rel"/>
		<annotation>
		  <documentation>release</documentation>
		</annotation>
            <enumeration value="cu"/>
		<annotation>
		  <documentation>core update</documentation>
		</annotation>
            <enumeration value="du"/>
		<annotation>
		  <documentation>domain update</documentation>
		</annotation>
            <enumeration value="iepd"/>
		<annotation>
		  <documentation>information exchange package documentation</documentation>
		</annotation>
            <enumeration value="eiem"/>
		<annotation>
		  <documentation>enterprise information exchange model</documentation>
		</annotation>
        </restriction>
    </simpleType>

    <simpleType name="MPDVersionIDSimpleType">
      <annotation>
	  <documentation>A datatype for the syntax of an MPD version number or identifier</documentation>
      </annotation>
      <restriction base="token">
        <pattern value="[0-9]+(\.[0-9]+)*((alpha|beta|rc|rev)[0-9]+)?"/>
        <minLength value="1"/>
      </restriction>
    </simpleType>

    <simpleType name="RelationshipCodeSimpleType">
      <annotation>
	  <documentation>A datatype for a classification of the relationship between MPDs</documentation>
      </annotation>
        <restriction base="token">
	    <enumeration value="version_of"/>
		<annotation>
        	    <documentation>A </documentation>
	        </annotation>
            <enumeration value="specializes"/>
            <enumeration value="generalizes"/>
            <enumeration value="supersedes"/>
            <enumeration value="deprecates"/>
            <enumeration value="adapts"/>
            <enumeration value="updates"/>
            <enumeration value="conforms_to"/>
        </restriction>
    </simpleType>

<!-- For Defining IEPs ================================================= -->

<!-- <IEP matchXPath="//ext:ParkingTicket">
	<XMLSchemaValidation xmlCatalog="xml-catalog.xml"/>
     </IEP>
-->

    <element name="IEP" type="c:IEPType"/>
      <annotation>
        <documentation>A </documentation>
      </annotation>
    <element name="Validation" abstract="true"/>
      <annotation>
        <documentation>A </documentation>
      </annotation>
    <element name="XSDValidation" type="c:XSDValidationType"        
	substitutionGroup="c:Validation"/>
      <annotation>
        <documentation>A </documentation>
      </annotation>
    <element name="SchematronValidation" type="c:SchematronValidationType" 
	substitutionGroup="c:Validation"/>
      <annotation>
        <documentation>A </documentation>
      </annotation>

    <attribute name="xmlCatalogURI" type="string"/> <!-- catalog pathname -->
      <annotation>
        <documentation>A </documentation>
      </annotation>
    <attribute name="matchXPath" type="string"/>	<!-- XPath expression -->
      <annotation>
        <documentation>A </documentation>
      </annotation>

    <complexType name="IEPType">
      <annotation>
        <documentation>A </documentation>
      </annotation>
        <complexContent>
	    <extension base="s:ObjectType">
	      <sequence>
	        <element ref="c:Validation" maxOccurs="unbounded"/>
    	      </sequence>
    	      <attribute ref="c:matchXPath" use="required"/>
	    </extension>
        </complexContent>
    </complexType>

    <complexType name="XSDValidationType">
      <annotation>
        <documentation>A </documentation>
      </annotation>
      <simpleContent>
        <extension base:="s:ObjectType">
          <attribute ref="c:xmlCatalogURI" use="required"/>
        </extension>
      </simpleContent>
    </complexType>

    <complexType name="SchematronValidationType">
      <annotation>
        <documentation>A </documentation>
      </annotation>
      <simpleContent>
        <extension base:="s:ObjectType">
          <attribute ref="c:schematronSchema" use="required"/>
        </extension>
      </simpleContent>
    </complexType>

<!-- Metadata =========================================================== -->
    
    <element name="Metadata" type="c:MetadataType"/>
      <annotation>
        <documentation>A </documentation>
      </annotation>

    <complexType name="MetadataType">
      <annotation>
        <documentation>A </documentation>
      </annotation>
      <complexContent>
        <extension base="s:ObjectType">
          <sequence>
            <element ref="c:CreationDate"/>
            <element ref="c:AuthoritativeSource"/>
            <element ref="c:LastRevisionDate"    minOccurs="0"/>
            <element ref="c:StatusText"          minOccurs="0"/>
            <element ref="c:Relationship"        minOccurs="0" maxOccurs="unbounded"/>
            <element ref="c:KeywordText"         minOccurs="0" maxOccurs="unbounded"/>
            <element ref="c:DomainText"          minOccurs="0" maxOccurs="unbounded"/>
            <element ref="c:PurposeText"         minOccurs="0" maxOccurs="unbounded"/>
            <element ref="c:ExchangePatternText" minOccurs="0" maxOccurs="unbounded"/>
            <element ref="c:ExchangePartnerName" minOccurs="0" maxOccurs="unbounded"/>
          </sequence>
        </extension>
      </complexContent>
    </complexType>

    <element name="AuthoritativeSource" type="nc:ContactInformationType"/>
      <annotation>
        <documentation>A </documentation>
      </annotation>

    <element name="POC" type="c:POCType"/>
      <annotation>
        <documentation>A </documentation>
      </annotation>

    <complexType name="POCType">
      <annotation>
        <documentation>A </documentation>
      </annotation>
      <complexContent>
        <extension base="s:ObjectType">
          <sequence>
            <element ref="c:POCName"/>
            <element ref="c:POCEmail"     minOccurs="1" maxOccurs="unbounded"/>
            <element ref="c:POCTelephone" minOccurs="1" maxOccurs="unbounded"/>
          </sequence>
        </extension>
      </complexContent>
    </complexType>

    <element name="CreationDate"        type="date"/>
      <annotation>
        <documentation>A </documentation>
      </annotation>
    <element name="LastRevisionDate"    type="date"/>
      <annotation>
        <documentation>A </documentation>
      </annotation>
    <element name="StatusText"          type="string"/>
      <annotation>
        <documentation>A </documentation>
      </annotation>
    <element name="Relationship"        type="c:RelationshipType"/>
      <annotation>
        <documentation>A </documentation>
      </annotation>
    <element name="KeywordText"         type="string"/>
      <annotation>
        <documentation>A </documentation>
      </annotation>
    <element name="DomainText"          type="string"/>
      <annotation>
        <documentation>A </documentation>
      </annotation>
    <element name="PurposeText"         type="string"/>
      <annotation>
        <documentation>A </documentation>
      </annotation>

    <element name="ExchangePatternText" type="string"/>
      <annotation>
        <documentation>A </documentation>
      </annotation>
    <element name="ExchangePartnerName" type="string"/>
      <annotation>
        <documentation>A </documentation>
      </annotation>
    <element name="XMLDocumentElement"  type="c:XMLDocumentElementType"/>
      <annotation>
        <documentation>A </documentation>
      </annotation>
    
    <element name="ASName"              type="string"/>
      <annotation>
        <documentation>A </documentation>
      </annotation>
    <element name="ASAddressText"       type="string"/>
      <annotation>
        <documentation>A </documentation>
      </annotation>
    <element name="ASWebSiteURL"        type="anyURI"/>
      <annotation>
        <documentation>A </documentation>
      </annotation>
    <element name="POCName"             type="string"/>
      <annotation>
        <documentation>A </documentation>
      </annotation>
    <element name="POCEmail"            type="string"/>
      <annotation>
        <documentation>A </documentation>
      </annotation>
    <element name="POCTelephone"        type="string"/>
      <annotation>
        <documentation>A </documentation>
      </annotation>

    <complexType name="RelationshipType">
      <annotation>
        <documentation>A </documentation>
      </annotation>
      <complexContent>
        <extension base="s:ObjectType">
          <attribute ref="c:relationshipCode" use="required"/>
          <attribute ref="c:resourceURI"      use="required"/>
          <attribute ref="c:descriptionText"  use="optional"/>
        </extension>
      </complexContent>
    </complexType>

</schema>

