xsd/mpd-catalog-3.0.xsd

<?xml version="1.0" encoding="US-ASCII"?>
<schema
    ct:conformanceTargets="http://reference.niem.gov/niem/specification/naming-and-design-rules/3.0/#ExtensionSchemaDocument"
    targetNamespace="http://reference.niem.gov/niem/resource/mpd/catalog/3.0/"
    version="3.0"
    xmlns:appinfo="http://release.niem.gov/niem/appinfo/3.0/"
    xmlns:c="http://reference.niem.gov/niem/resource/mpd/catalog/3.0/"
    xmlns:ct="http://release.niem.gov/niem/conformanceTargets/3.0/"
    xmlns:nc="http://release.niem.gov/niem/niem-core/3.0/"
    xmlns:s="http://release.niem.gov/niem/structures/3.0/"
    xmlns:term="http://release.niem.gov/niem/localTerminology/3.0/"
    xmlns="http://www.w3.org/2001/XMLSchema">

    <import namespace="http://release.niem.gov/niem/structures/3.0/"/>
    <import namespace="http://release.niem.gov/niem/niem-core/3.0/"/>

    <annotation>
      <documentation>
          Model Package Description (MPD) Catalog. 
          This schema defines a mpd-catalog.xml artifact 
          for NIEM Model Package Descriptions (MPD):
             NIEM releases, core updates, domain updates, 
             NIEM Information Exchange Package Documentation (IEPD), 
             and NIEM Enterprise Information Exchange Models (EIEM). 
          The purpose of this schema is to define/declare relatively 
          consistent MPD content structure and metadata to process, 
          display, review, register, search, discover MPDs efficiently. 
      </documentation>
      <appinfo>
        <term:LocalTerm term="AS"    literal="Authoritative Source"/>
	<term:LocalTerm term="EIEM"  literal="Enterprise Information Exchange Model"/>
	<term:LocalTerm term="IANA"  literal="Internet Assigned Numbers Authority"/>
	<term:LocalTerm term="ID"    literal="Identifier"/>
	<term:LocalTerm term="IEP"   literal="Information Exchange Package" definition="an instance XML document"/>
	<term:LocalTerm term="IEPD"  literal="Information Exchange Package Documentation"/>
	<term:LocalTerm term="MIME"  literal="Multipurpose Internet Mail Extension"/>
	<term:LocalTerm term="MPD"   literal="Model Package Description"/>
        <term:LocalTerm term="OASIS" literal="Organization for the Advancement of Structured Information Standards"/>
	<term:LocalTerm term="POC"   literal="Point of contact"/>
	<term:LocalTerm term="SSGT"  literal="Schema Subset Generation Tool"/>
        <term:LocalTerm term="URI"   literal="Uniform Resource Identifier"/>
	<term:LocalTerm term="Wantlist" definition="An XML file that represents a NIEM schema document subset; used by NIEM Schema Subset Generation Tool to input/output a schema document subset"/>
      </appinfo> 
    </annotation>

    <element name="Catalog" type="c:CatalogType">
      <annotation>
	<documentation>An MPD catalog that describes MPD artifacts and metadata</documentation>
      </annotation>
    </element>

    <complexType name="CatalogType">
      <annotation>
	<documentation>A datatype for an MPD catalog</documentation>
      </annotation>
        <sequence>
            <element ref="c:MPD"/>
        </sequence>
    </complexType>

    <element name="MPD" type="c:MPDType">    
      <annotation>
        <documentation>A Model Package Description (MPD).</documentation>
      </annotation>
    </element>

    <complexType name="MPDType">
      <annotation>
        <documentation>A datatype for an MPD</documentation>
      </annotation>
      <complexContent>
        <extension base="s:ObjectType">
          <sequence>
            <element ref="c:Metadata"/>
	    <element ref="c:IEP"      minOccurs="0" maxOccurs="unbounded"/>
            <element ref="c:Artifact" minOccurs="0" maxOccurs="unbounded"/>
          </sequence>
          <attribute ref="c:mpdURI"          use="required"/>
          <attribute ref="c:mpdClassCode"    use="required"/>
          <attribute ref="c:mpdName"         use="required"/>
          <attribute ref="c:mpdVersionID"    use="required"/>
          <attribute ref="c:descriptionText" use="optional"/>
        </extension>
      </complexContent>
    </complexType>

    <element name="Artifact" abstract="true">
      <annotation>
        <documentation>An file or file set in an MPD</documentation>
      </annotation>
    </element>

    <complexType name="FileSetType">
      <annotation>
        <documentation>A datatype for an MPD file set artifact</documentation>
      </annotation>
      <complexContent>
        <extension base="s:ObjectType">
          <sequence>
            <element ref="c:Artifact" minOccurs="0" maxOccurs="unbounded"/>
          </sequence>
          <attribute ref="c:pathURI"         use="required"/>
          <attribute ref="c:descriptionText" use="optional"/>
          <attribute ref="c:externalURI"     use="optional"/>
        </extension>
      </complexContent>
    </complexType>

    <complexType name="FileType">
      <annotation>
        <documentation>A datatype for an MPD file artifact</documentation>
      </annotation>
      <complexContent> 
        <extension base="s:ObjectType">
          <sequence>
            <element ref="c:RequiredFile" minOccurs="0" maxOccurs="unbounded"/>
          </sequence>
          <attribute ref="c:pathURI"          use="required"/>
          <attribute ref="c:mimeMediaType"   use="optional"/>
          <attribute ref="c:descriptionText" use="optional"/>
          <attribute ref="c:externalURI"     use="optional"/>
        </extension>
      </complexContent>
    </complexType>

    <element name="RequiredFile" type="c:FileType">
      <annotation>
        <documentation>An MPD file artifact that another artifact depends on and should not be separated from</documentation>
      </annotation>
    </element>

    <element name="File"                      type="c:FileType" substitutionGroup="c:Artifact">
      <annotation>
        <documentation>An electronic file artifact in an MPD; a file stored on a computer system.</documentation>
      </annotation>
      </element>
    <element name="MPDCatalog"                type="c:FileType" substitutionGroup="c:Artifact">
      <annotation>
        <documentation>An mpd-catalog artifact</documentation>
      </annotation>
    </element>
    <element name="MPDChangeLog"              type="c:FileType" substitutionGroup="c:Artifact">
      <annotation>
        <documentation>An MPD artifact that contains a record of the MPD changes</documentation>
</annotation>
</element>
    <element name="MasterDocument"            type="c:FileType" substitutionGroup="c:Artifact">
      <annotation>
        <documentation>An MPD master document (readme) artifact</documentation>
</annotation>
</element>
    <element name="ExtendedMPDMetadata"       type="c:FileType" substitutionGroup="c:Artifact">
      <annotation>
        <documentation>An MPD metadata artifact that adds optional author-defined metadata</documentation>
</annotation>
</element>
    <element name="SampleInstanceXMLDocument" type="c:FileType" substitutionGroup="c:Artifact">
      <annotation>
        <documentation>An example MPD instance xml document or IEP artifact</documentation>
</annotation>
</element>
    <element name="BusinessRules"             type="c:FileType" substitutionGroup="c:Artifact">
      <annotation>
	  <documentation>An MPD artifact that contains business rules 
		  and constraints on exchange content</documentation>
  </annotation>
  </element>
    <element name="Wantlist"                  type="c:FileType" substitutionGroup="c:Artifact">
      <annotation>
	<documentation>An MPD artifact that represents a NIEM schema subset 
		and is used as an import or export for the NIEM SSGT</documentation>
</annotation>
</element>
    <element name="ExternalSchemaDocument"    type="c:FileType" substitutionGroup="c:Artifact">
      <annotation>
        <documentation>An MPD artifact that is a schema document external to NIEM</documentation>
</annotation>
</element>
    <element name="ReferenceSchemaDocument"   type="c:FileType" substitutionGroup="c:Artifact">
      <annotation>
        <documentation>An MPD artifact that is a NIEM reference schema document</documentation>
      </annotation>
      </element>
    <element name="ExtensionSchemaDocument"   type="c:FileType" substitutionGroup="c:Artifact">
      <annotation>
        <documentation>An MPD artifact that is a NIEM extension schema document</documentation>
      </annotation>
      </element>
    <element name="SubsetSchemaDocument"      type="c:FileType" substitutionGroup="c:Artifact">
      <annotation>
        <documentation>An MPD artifact that is a subset schema document</documentation>
      </annotation>
      </element>
    <element name="XMLCatalog"                type="c:FileType" substitutionGroup="c:Artifact">
      <annotation>
        <documentation>An MPD artifact that is an OASIS XML catalog </documentation>
      </annotation>
      </element>
    <element name="Documentation"             type="c:FileType" substitutionGroup="c:Artifact">
      <annotation>
        <documentation>An MPD artifact that is a form of explanatory documentation</documentation>
      </annotation>
      </element>
    <element name="ApplicationInfo"           type="c:FileType" substitutionGroup="c:Artifact">
      <annotation>
        <documentation>An MPD artifact that is used (e.g., imported or exported) by a software tool</documentation>
      </annotation>
      </element>

    <element name="BaseSchemaDocumentSet"
             type="c:BaseSchemaDocumentSetType"      substitutionGroup="c:Artifact">
      <annotation>
	  <documentation>An MPD set artifact that may include a schema document subset, 
	  as well as reference, extension, exchange, and external schema documents
	  </documentation>
      </annotation>
      </element>
    <element name="ConstraintSchemaDocumentSet"
             type="c:BaseSchemaDocumentSetType"      substitutionGroup="c:Artifact">
      <annotation>
	  <documentation>An MPD set artifact that may contain one or more constraint 
	  schema documents</documentation>
      </annotation>
      </element>
    <element name="ReferenceSchemaDocumentSet"
             type="c:ReferenceSchemaDocumentSetType" substitutionGroup="c:Artifact">
      <annotation>
	  <documentation>An MPD set artifact that is a reference schema document set
	  </documentation>
      </annotation>
      </element>

    <complexType name="BaseSchemaDocumentSetType">
      <annotation>
	  <documentation>A datatype for an MPD set artifact that may include a schema 
	  document subset, as well as reference, extension, exchange, and external schema 
	  documents</documentation>
      </annotation>
      <complexContent>
        <restriction base="c:FileSetType">
          <sequence>
            <element ref="c:ExtensionSchemaDocument" minOccurs="0" maxOccurs="unbounded"/>
            <element ref="c:SubsetSchemaDocument"    minOccurs="0" maxOccurs="unbounded"/>
            <element ref="c:ExternalSchemaDocument"  minOccurs="0" maxOccurs="unbounded"/>
            <element ref="c:ReferenceSchemaDocument" minOccurs="0" maxOccurs="unbounded"/>
            <element ref="c:Wantlist"                minOccurs="0"/>
          </sequence>
        </restriction>
      </complexContent>
    </complexType>

    <complexType name="ReferenceSchemaDocumentSetType">
      <annotation>
	  <documentation>A datatype for an MPD set artifact that is a reference schema 
	  document set </documentation>
      </annotation>
      <complexContent>
        <restriction base="c:FileSetType">
          <sequence>
            <element ref="c:ReferenceSchemaDocument" minOccurs="1" maxOccurs="unbounded"/>
          </sequence>
        </restriction>
      </complexContent>
    </complexType>
    
<!-- Primitives ========================================================= -->

    <attribute name="mpdURI"           type="anyURI">
      <annotation>
        <documentation>A globally unique identifier (a URI) for an MPD</documentation>
      </annotation>
      </attribute>
    <attribute name="mpdClassCode"     type="c:MPDClassCodeSimpleType">
      <annotation>
	  <documentation>A classification for an MPD; values drawn from {rel, cu, du, iepd, eiem}</documentation>
      </annotation>
      </attribute>
    <attribute name="mpdName"          type="string">
      <annotation>
        <documentation>A label or title for an MPD</documentation>
      </annotation>
      </attribute>
    <attribute name="mpdVersionID"     type="c:MPDVersionIDSimpleType">
      <annotation>
	<documentation>An identifier that distinguishes releases of a given MPD</documentation>
      </annotation>
      </attribute>
    <attribute name="externalURI"      type="anyURI">
    <annotation>
	<documentation>A globally unique identifier (a URI) for an artifact in another MPD that is reused by this MPD.</documentation>
  </annotation>
  </attribute>
    <attribute name="pathURI" type="anyURI">
      <annotation>
	  <documentation>A URI with a value of the relative pathname of the file.</documentation>
      </annotation>
      </attribute>
    <attribute name="descriptionText"  type="string">
      <annotation>
	  <documentation>A statement that provides an explanation or additional detail to describe an MPD artifact or a relationship between MPDs</documentation>
      </annotation>
      </attribute>
    <attribute name="mimeMediaType"    type="string">
      <annotation>
        <documentation>A classification for an MPD file artifact from the IANA MIME media classes: http://www.iana.org/assignments/media-types</documentation>
      </annotation>
      </attribute>
    <attribute name="resourceURI"      type="anyURI">
      <annotation>
        <documentation>A globally unique identifier (a URI) for another MPD or document to which this MPD relates</documentation>
      </annotation>
      </attribute>
    <attribute name="relationshipCode" type="c:RelationshipCodeSimpleType">
      <annotation>
	<documentation>A classification or reason for the connectedness between this MPD and the resource referenced in resourceURI.</documentation>
      </annotation>
      </attribute>

    <simpleType name="MPDClassCodeSimpleType">
      <annotation>
        <documentation>A datatype for the classification of an MPD</documentation>
      </annotation>
        <restriction base="token">
            <enumeration value="rel">
		<annotation>
		  <documentation>release</documentation>
		</annotation>
	    </enumeration>
            <enumeration value="cu">
		<annotation>
		  <documentation>core update</documentation>
		</annotation>
	    </enumeration>
            <enumeration value="du">
		<annotation>
		  <documentation>domain update</documentation>
		</annotation>
	    </enumeration>
            <enumeration value="iepd">
		<annotation>
		  <documentation>information exchange package documentation</documentation>
		</annotation>
	    </enumeration>
            <enumeration value="eiem">
		<annotation>
		  <documentation>enterprise information exchange model</documentation>
		</annotation>
	    </enumeration>
        </restriction>
    </simpleType>

    <simpleType name="MPDVersionIDSimpleType">
      <annotation>
	  <documentation>A datatype for an identifier that distinguishes releases of a given MPD</documentation>
      </annotation>
      <restriction base="token">
        <pattern value="[0-9]+(\.[0-9]+)*((alpha|beta|rc|rev)[0-9]+)?"/>
        <minLength value="1"/>
      </restriction>
    </simpleType>

    <simpleType name="RelationshipCodeSimpleType">
      <annotation>
	  <documentation>A datatype for a classification of the relationship between MPDs</documentation>
      </annotation>
        <restriction base="token">
	    <enumeration value="version_of">
	      <annotation>
		<documentation>A relationshipCode value for indicating that this MPD is a different version of the MPD referenced in resourceURI.  This code value is only needed in cases where significant name changes might obscure the relationship to the previous version.  For example, NIEM Justice 4.1 is a version of GJXDM 3.0.3</documentation>
	        </annotation>
	    </enumeration>
	    <enumeration value="specializes">
	      <annotation>
	        <documentation>A relationshipCode value for indicating that this MPD is a generalization of the MPD referenced in resourceURI.  This value is the inverse of specializes.</documentation>
	      </annotation>
	    </enumeration>
            <enumeration value="generalizes">
		<annotation>
		    <documentation>A relationshipCode value for indicating that this MPD is a generalization of the MPD referenced in resourceURI.  This value is the inverse of specializes.
		    </documentation>
		</annotation>
	    </enumeration>
            <enumeration value="supersedes">
		<annotation>
		    <documentation>A relationshipCode value for indicating that this MPD replaces the MPD referenced in resourceURI.
		    </documentation>
		</annotation>
	    </enumeration>
            <enumeration value="deprecates">
		<annotation>
		    <documentation>A relationshipCode value for indicating that content in this MPD is preferred over content in the MPD referenced in resourceURI; and at some time in the future will supersede the MPD referenced in resourceURI</documentation>
		</annotation>
	    </enumeration>
            <enumeration value="adapts">
		<annotation>
		    <documentation>A relationshipCode value for indicating that this MPD is an adaptation of the MPD referenced in resourceURI.</documentation>
		</annotation>
	    </enumeration>
            <enumeration value="updates">
		<annotation>
		    <documentation>A relationshipCode value for indicating that this MPD is an incremental update to the resource referenced in resourceURI.  Used by a core or domain update to identify the domain schema in a NIEM release being incrementally updated (not replaced).</documentation>
		</annotation>
	    </enumeration>
            <enumeration value="conforms_to">
		<annotation>
		    <documentation>A relationshipCode value for indicating that this MPD conforms to the specification or standard referenced in resourceURI.</documentation>
		</annotation>
	    </enumeration>
        </restriction>
    </simpleType>

<!-- For Defining IEPs ================================================= -->

    <element name="IEP" type="c:IEPType">
      <annotation>
        <documentation>An Information Exchange Package candidate</documentation>
      </annotation>
    </element>
    <element name="Validation" abstract="true">
      <annotation>
        <documentation>An rule or instructions for validating an IEP candidate</documentation>
      </annotation>
    </element>
    <element name="XMLSchemaValidation" type="c:XMLSchemaValidationType" substitutionGroup="c:Validation">
      <annotation>
	<documentation>An rule or instruction for XML Schema validation</documentation>
      </annotation>
    </element>
    <element name="SchematronValidation" type="c:SchematronValidationType" 
	substitutionGroup="c:Validation">
      <annotation>
        <documentation>A rule or instruction for Schematron validation</documentation>
      </annotation>
    </element>

    <attribute name="xmlCatalogURI" type="anyURI">
      <annotation>
        <documentation>A URI to an OASIS XML catalog artifact within the MPD; its path name</documentation>
      </annotation>
    </attribute>

    <attribute name="schematronSchemaURI" type="anyURI">
      <annotation>
        <documentation>A URI to a Schematron schema file.</documentation>
      </annotation>
    </attribute>

    <attribute name="testXPath" type="string">
      <annotation>
	<documentation>An XPath expression for testing if an XML document is a candidate IEP.</documentation>
      </annotation>
    </attribute>

    <complexType name="IEPType">
      <annotation>
        <documentation>A datatype for an IEP candidate</documentation>
      </annotation>
        <complexContent>
	    <extension base="s:ObjectType">
	      <sequence>
	        <element ref="c:Validation" maxOccurs="unbounded"/>
    	      </sequence>
    	      <attribute ref="c:testXPath" use="required"/>
	    </extension>
        </complexContent>
    </complexType>

    <complexType name="XMLSchemaValidationType">
      <annotation>
        <documentation>A datatype for a rule or instruction for XML Schema validation</documentation>
      </annotation>
      <complexContent>
        <extension base="s:ObjectType">
          <attribute ref="c:xmlCatalogURI" use="required"/>
        </extension>
      </complexContent>
    </complexType>

    <complexType name="SchematronValidationType">
      <annotation>
        <documentation>A datatype for a rule or instruction for Schematron validation</documentation>
      </annotation>
      <complexContent>
        <extension base="s:ObjectType">
          <attribute ref="c:schematronSchemaURI" use="required"/>
        </extension>
      </complexContent>
    </complexType>

<!-- Metadata =========================================================== -->
    
    <element name="Metadata" type="c:MetadataType">
      <annotation>
        <documentation>A set of descriptive data about an MPD</documentation>
      </annotation>
    </element>

    <complexType name="MetadataType">
      <annotation>
        <documentation>A datatype for a set of descriptive data about an MPD</documentation>
      </annotation>
      <complexContent>
        <extension base="s:ObjectType">
          <sequence>
            <element ref="c:CreationDate"/>
            <element ref="c:AuthoritativeSource"/>
            <element ref="c:LastRevisionDate"    minOccurs="0"/>
            <element ref="c:StatusText"          minOccurs="0"/>
            <element ref="c:Relationship"        minOccurs="0" maxOccurs="unbounded"/>
            <element ref="c:KeywordText"         minOccurs="0" maxOccurs="unbounded"/>
            <element ref="c:DomainText"          minOccurs="0" maxOccurs="unbounded"/>
            <element ref="c:PurposeText"         minOccurs="0" maxOccurs="unbounded"/>
            <element ref="c:ExchangePatternText" minOccurs="0" maxOccurs="unbounded"/>
            <element ref="c:ExchangePartnerName" minOccurs="0" maxOccurs="unbounded"/>
          </sequence>
        </extension>
      </complexContent>
    </complexType>

    <element name="AuthoritativeSource" type="nc:ContactInformationType">
      <annotation>
        <documentation>An official sponsoring or authoring organization responsible for an MPD</documentation>
      </annotation>
    </element>

    <element name="POC" type="c:POCType">
      <annotation>
        <documentation>A point of contact for an authoritative source</documentation>
      </annotation>
    </element>

    <complexType name="POCType">
      <annotation>
        <documentation>A datatype for a point of contact</documentation>
      </annotation>
      <complexContent>
        <extension base="s:ObjectType">
          <sequence>
            <element ref="c:POCName"/>
            <element ref="c:POCEmail"     minOccurs="1" maxOccurs="unbounded"/>
            <element ref="c:POCTelephone" minOccurs="1" maxOccurs="unbounded"/>
          </sequence>
        </extension>
      </complexContent>
    </complexType>

    <element name="CreationDate" type="date">
      <annotation>
	<documentation>A date this MPD was published</documentation>
      </annotation>
    </element>
    <element name="LastRevisionDate"    type="date">
      <annotation>
	      <documentation>A date the latest changes to an MPD were published (i.e., CreationDate of previous version)</documentation>
      </annotation>
    </element>
    <element name="StatusText"          type="string">
      <annotation>
        <documentation>A description of the current state of this MPD in development; may also project future plans for the MPD</documentation>
      </annotation>
    </element>
    <element name="Relationship"        type="c:RelationshipType">
      <annotation>
        <documentation>A reference to another MPD related to this MPD</documentation>
      </annotation>
    </element>
    <element name="KeywordText"         type="string">
      <annotation>
	<documentation>A common alias, term, or phrase that would help to facilitate search and discovery of this MPD</documentation>
      </annotation>
    </element>
    <element name="DomainText"          type="string">
      <annotation>
	<documentation>A description of the environment or NIEM Domain in which this MPD is applicable or used</documentation>
      </annotation>
    </element>
    <element name="PurposeText"         type="string">
      <annotation>
        <documentation>A description of the intended usage and reason for which an MPD exists</documentation>
      </annotation>
    </element>
    <element name="ExchangePatternText" type="string">
      <annotation>
        <documentation>A description of a transactional or design pattern used for this IEPD (generally, applicable to IEPDs only)</documentation>
      </annotation>
    </element>
    <element name="ExchangePartnerName" type="string">
      <annotation>
        <documentation>A name of an entity or organization that uses this MPD</documentation>
      </annotation>
    </element>
    
    <element name="ASName"              type="string">
      <annotation>
        <documentation>A name for the current MPD authoritative source; could be the author, creator, sponsor, etc. (organization or person name)</documentation>
      </annotation>
    </element>
    <element name="ASAddressText"       type="string">
      <annotation>
        <documentation>A description of the location of the authoritative source for the MPD</documentation>
      </annotation>
    </element>
    <element name="ASWebSiteURL"        type="anyURI">
      <annotation>
        <documentation>A URL for the Web site of the authoritative source for the MPD</documentation>
      </annotation>
    </element>
    <element name="POCName"             type="string">
      <annotation>
        <documentation>A name for a person, position, or title</documentation>
      </annotation>
    </element>
    <element name="POCEmail"            type="string">
      <annotation>
        <documentation>An email address</documentation>
      </annotation>
    </element>
    <element name="POCTelephone"        type="string">
      <annotation>
        <documentation>A telephone number</documentation>
      </annotation>
    </element>

    <complexType name="RelationshipType">
      <annotation>
        <documentation>A datatype for a reference to another MPD related to this MPD</documentation>
      </annotation>
      <complexContent>
        <extension base="s:ObjectType">
          <attribute ref="c:relationshipCode" use="required"/>
          <attribute ref="c:resourceURI"      use="required"/>
          <attribute ref="c:descriptionText"  use="optional"/>
        </extension>
      </complexContent>
    </complexType>

</schema>

