xsd/mpd-catalog-3.0.xsd

<?xml version="1.0" encoding="US-ASCII"?>
<schema
    ct:conformanceTargets="http://reference.niem.gov/niem/specification/naming-and-design-rules/3.0/#ExtensionSchemaDocument"
    targetNamespace="http://reference.niem.gov/niem/resource/mpd/catalog/3.0/"
    version="3.0"
    xmlns:appinfo="http://release.niem.gov/niem/appinfo/3.0/"
    xmlns:c"http://reference.niem.gov/niem/resource/mpd/catalog/3.0/"
    xmlns:ct="http://release.niem.gov/niem/conformanceTargets/3.0/"
    xmlns:nc="http://release.niem.gov/niem/niem-core/3.0/"
    xmlns:s="http://release.niem.gov/niem/structures/3.0/"
    xmlns:term="http://release.niem.gov/niem/localTerminology/3.0/"
    xmlns="http://www.w3.org/2001/XMLSchema">

    <import namespace="http://release.niem.gov/niem/structures/3.0/"/>
    <import namespace="http://release.niem.gov/niem/niem-core/3.0/"/>

    <annotation>
      <documentation>
          Model Package Description (MPD) Catalog. 
          This schema defines a mpd-catalog.xml artifact 
          for NIEM Model Package Descriptions (MPD):
             NIEM releases, core updates, domain updates, 
             NIEM Information Exchange Package Documentation (IEPD), 
             and NIEM Enterprise Information Exchange Models (EIEM). 
          The purpose of this schema is to define/declare relatively 
          consistent MPD content structure and metadata to process, 
          display, review, register, search, discover MPDs efficiently. 
      </documentation>
      <appinfo>
        <term:LocalTerm term="AS"    literal="Authoritative Source"/>
        <term:LocalTerm term="EIEM"  literal="Enterprise Information Exchange Model"/>
	<term:LocalTerm term="ID"    literal="Identifier"/>
	<term:LocalTerm term="IEP"   literal="Information Exchange Package" definition="an instance XML document"/>
        <term:LocalTerm term="IEPD"  literal="Information Exchange Package Documentation"/>
	<term:LocalTerm term="MPD"   literal="Model Package Description"/>
        <term:LocalTerm term="OASIS" literal="Organization for the Advancement of Structured Information Standards"/>
        <term:LocalTerm term="POC"   literal="Point of contact"/>
        <term:LocalTerm term="URI"   literal="Uniform Resource Identifier"/>
	<term:LocalTerm term="Wantlist" definition="An XML file that represents a NIEM schema document subset; used by NIEM Schema Subset Generation Tool to input/output a schema document subset"/>
      </appinfo> 
    </annotation>

    <element name="Catalog" type="c:CatalogType"/>

    <complexType name="CatalogType">
        <sequence>
            <element ref="c:MPD"/>
        </sequence>
    </complexType>

    <element name="MPD" type="c:MPDType"/>    
        <xsd:annotation>
            <xsd:documentation>A Model Package Description (MPD).</xsd:documentation>
        </xsd:annotation>

    <complexType name="MPDType">
      <complexContent>
        <extension base="s:ObjectType">
          <sequence>
            <element ref="c:Metadata"/>
            <element ref="c:MPDCatalog"/>
            <element ref="c:MPDChangeLog"/>
            <element ref="c:MasterDocument"              minOccurs="0"/>
	    <element ref="c:BaseSchemaDocumentSet"       minOccurs="0"/>
            <element ref="c:ReferenceSchemaDocumentSet"  minOccurs="0" maxOccurs="unbounded"/>
	    <element ref="c:ConstraintSchemaDocumentSet" minOccurs="0" maxOccurs="unbounded"/>
            <element ref="c:SampleXMLInstanceDocument"   minOccurs="0" maxOccurs="unbounded"/>
	    <element ref="c:BusinessRules"               minOccurs="0" maxOccurs="unbounded"/>
	    <element ref="c:ExtendedMPDMetadata"         minOccurs="0" maxOccurs="unbounded"/>
	    <element ref="c:XMLCatalog"                  minOccurs="0" maxOccurs="unbounded"/>
	    <element ref="c:IEP"			 minOccurs="0" maxOccurs,"unbounded"/>
          </sequence>
          <attribute ref="c:mpdURI"          use="required"/>
          <attribute ref="c:mpdClassCode"    use="required"/>
          <attribute ref="c:mpdName"         use="required"/>
          <attribute ref="c:mpdVersionID"    use="required"/>
          <attribute ref="c:descriptionText" use="optional"/>
        </extension>
      </complexContent>
    </complexType>

    <element name="Artifact" abstract="true"/>

    <complexType name="FileSetType">
      <complexContent>
        <extension base="s:ObjectType">
          <sequence>
            <element ref="c:Artifact" minOccurs="0" maxOccurs="unbounded"/>
          </sequence>
          <attribute ref="c:pathID"          use="required"/>
          <attribute ref="c:descriptionText" use="optional"/>
          <attribute ref="c:externalURI"     use="optional"/>
        </extension>
      </complexContent>
    </complexType>

    <complexType name="FileType">
      <complexContent> 
        <extension base="s:ObjectType">
          <sequence>
            <element ref="c:RequiredFile" minOccurs="0" maxOccurs="unbounded"/>
          </sequence>
          <attribute ref="c:pathID"          use="required"/>
          <attribute ref="c:mimeMediaType"   use="optional"/>
          <attribute ref="c:descriptionText" use="optional"/>
          <attribute ref="c:externalURI"     use="optional"/>
        </extension>
      </complexContent>
    </complexType>

    <element name="RequiredFile" type="c:FileType"/>

    <element name="File"                      type="c:FileType" substitutionGroup="c:Artifact"/>
    <element name="MPDCatalog"                type="c:FileType" substitutionGroup="c:Artifact"/>
    <element name="MPDChangeLog"              type="c:FileType" substitutionGroup="c:Artifact"/>
    <element name="MasterDocument"            type="c:FileType" substitutionGroup="c:Artifact"/>
    <element name="ExtendedMPDMetadata"       type="c:FileType" substitutionGroup="c:Artifact"/>
    <element name="SampleXMLInstanceDocument" type="c:FileType" substitutionGroup="c:Artifact"/>
    <element name="BusinessRules"             type="c:FileType" substitutionGroup="c:Artifact"/>
    <element name="Wantlist"                  type="c:FileType" substitutionGroup="c:Artifact"/>
    <element name="ExternalSchemaDocument"    type="c:FileType" substitutionGroup="c:Artifact"/>
    <element name="ReferenceSchemaDocument"   type="c:FileType" substitutionGroup="c:Artifact"/>
    <element name="ExtensionSchemaDocument"   type="c:FileType" substitutionGroup="c:Artifact"/>
    <element name="SubsetSchemaDocument"      type="c:FileType" substitutionGroup="c:Artifact"/>
    <element name="XMLCatalog"                type="c:FileType" substitutionGroup="c:Artifact"/>
    <element name="Documentation"             type="c:FileType" substitutionGroup="c:Artifact"/>
    <element name="ApplicationInfo"           type="c:FileType" substitutionGroup="c:Artifact"/>

    <element name="BaseSchemaDocumentSet"
             type="c:BaseSchemaDocumentSetType"      substitutionGroup="c:Artifact"/>
    <element name="ConstraintSchemaDocumentSet"
             type="c:BaseSchemaDocumentSetType"      substitutionGroup="c:Artifact"/>
    <element name="ReferenceSchemaDocumentSet"
             type="c:ReferenceSchemaDocumentSetType" substitutionGroup="c:Artifact"/>

    <complexType name="BaseSchemaDocumentSetType">
      <complexContent>
        <restriction base="c:FileSetType">
          <sequence>
            <element ref="c:ExtensionSchemaDocument" minOccurs="0" maxOccurs="unbounded"/>
            <element ref="c:SubsetSchemaDocument"    minOccurs="0" maxOccurs="unbounded"/>
            <element ref="c:ExternalSchemaDocument"  minOccurs="0" maxOccurs="unbounded"/>
            <element ref="c:ReferenceSchemaDocument" minOccurs="0" maxOccurs="unbounded"/>
            <element ref="c:Wantlist"                minOccurs="0"/>
          </sequence>
        </restriction>
      </complexContent>
    </complexType>

    <complexType name="ReferenceSchemaDocumentSetType">
      <complexContent>
        <restriction base="c:FileSetType">
          <sequence>
            <element ref="c:ReferenceSchemaDocument" minOccurs="1" maxOccurs="unbounded"/>
          </sequence>
        </restriction>
      </complexContent>
    </complexType>
    
<!-- Primitives ========================================================= -->

    <attribute name="mpdURI"           type="anyURI"/>
    <attribute name="mpdClassCode"     type="c:MPDClassCodeSimpleType"/>
    <attribute name="mpdName"          type="string"/>
    <attribute name="mpdVersionID"     type="c:MPDVersionIDSimpleType"/>
    <attribute name="externalURI"      type="anyURI"/>
    <attribute name="pathID"           type="string"/>
    <attribute name="descriptionText"  type="string"/>
    <attribute name="mimeMediaType"    type="string"/>
    <attribute name="resourceURI"      type="anyURI"/>
    <attribute name="relationshipCode" type="c:RelationshipCodeSimpleType"/>

    <simpleType name="MPDClassCodeSimpleType">
        <restriction base="token">
            <enumeration value="rel"/>
            <enumeration value="cu"/>
            <enumeration value="du"/>
            <enumeration value="iepd"/>
            <enumeration value="eiem"/>
        </restriction>
    </simpleType>

    <simpleType name="MPDVersionIDSimpleType">
      <restriction base="token">
        <pattern value="[0-9]+(\.[0-9]+)*((alpha|beta|rc|rev)[0-9]+)?"/>
        <minLength value="1"/>
      </restriction>
    </simpleType>

    <simpleType name="RelationshipCodeSimpleType">
        <restriction base="token">
            <enumeration value="version_of"/>
            <enumeration value="specializes"/>
            <enumeration value="generalizes"/>
            <enumeration value="supersedes"/>
            <enumeration value="deprecates"/>
            <enumeration value="adapts"/>
            <enumeration value="updates"/>
            <enumeration value="conforms_to"/>
        </restriction>
    </simpleType>

<!-- For Defining IEPs ================================================= -->

<!-- <IEP matchXPath="//ext:ParkingTicket">
	<XMLSchemaValidation xmlCatalog="xml-catalog.xml"/>
     </IEP>
-->

<element name="IEP" type="c:IEPType"/>
<element name="Validation" abstract="true"/>
<element name="XSDValidation" type="c:XSDValidationType"        
	substitutionGroup="c:Validation"/>
<element name="SchematronValidation" type="c:SchematronValidationType" 
	substitutionGroup="c:Validation"/>

<attribute name="xmlCatalogURI" type="string"/> <!-- catalog pathname -->
<attribute name="matchXPath" type="string"/>	<!-- XPath expression -->

<complexType name="IEPType">
    <complexContent>
	<extension base="s:ObjectType">
	  <sequence>
	    <element ref="c:Validation" maxOccurs="unbounded"/>
    	  </sequence>
    	  <attribute ref="c:matchXPath" use="required"/>
	</extension>
    </complexContent>
</complexType>

<complexType name="XSDValidationType">
  <simpleContent>
    <extension base:="s:ObjectType">
      <attribute ref="c:xmlCatalogURI" use="required"/>
    </extension>
  </simpleContent>
</complexType>

<complexType name="SchematronValidationType">
  <simpleContent>
    <extension base:="s:ObjectType">
      <attribute ref="c:schematronSchema" use="required"/>
    </extension>
  </simpleContent>
</complexType>

<!-- Metadata =========================================================== -->
    
    <element name="Metadata" type="c:MetadataType"/>

    <complexType name="MetadataType">
      <complexContent>
        <extension base="s:ObjectType">
          <sequence>
            <element ref="c:CreationDate"/>
            <element ref="c:AuthoritativeSource"/>
            <element ref="c:LastRevisionDate"    minOccurs="0"/>
            <element ref="c:StatusText"          minOccurs="0"/>
            <element ref="c:Relationship"        minOccurs="0" maxOccurs="unbounded"/>
            <element ref="c:KeywordText"         minOccurs="0" maxOccurs="unbounded"/>
            <element ref="c:DomainText"          minOccurs="0" maxOccurs="unbounded"/>
            <element ref="c:PurposeText"         minOccurs="0" maxOccurs="unbounded"/>
            <element ref="c:ExchangePatternText" minOccurs="0" maxOccurs="unbounded"/>
            <element ref="c:ExchangePartnerName" minOccurs="0" maxOccurs="unbounded"/>
          </sequence>
        </extension>
      </complexContent>
    </complexType>

    <element name="AuthoritativeSource" type="nc:ContactInformationType"/>

    <element name="POC" type="c:POCType"/>

    <complexType name="POCType">
      <complexContent>
        <extension base="s:ObjectType">
          <sequence>
            <element ref="c:POCName"/>
            <element ref="c:POCEmail"     minOccurs="1" maxOccurs="unbounded"/>
            <element ref="c:POCTelephone" minOccurs="1" maxOccurs="unbounded"/>
          </sequence>
        </extension>
      </complexContent>
    </complexType>

    <element name="CreationDate"        type="date"/>
    <element name="LastRevisionDate"    type="date"/>
    <element name="StatusText"          type="string"/>
    <element name="Relationship"        type="c:RelationshipType"/>
    <element name="KeywordText"         type="string"/>
    <element name="DomainText"          type="string"/>
    <element name="PurposeText"         type="string"/>

    <element name="ExchangePatternText" type="string"/>
    <element name="ExchangePartnerName" type="string"/>
    <element name="XMLDocumentElement"  type="c:XMLDocumentElementType"/>
    
    <element name="ASName"              type="string"/>
    <element name="ASAddressText"       type="string"/>
    <element name="ASWebSiteURL"        type="anyURI"/>
    <element name="POCName"             type="string"/>
    <element name="POCEmail"            type="string"/>
    <element name="POCTelephone"        type="string"/>

    <complexType name="RelationshipType">
      <complexContent>
        <extension base="s:ObjectType">
          <attribute ref="c:relationshipCode" use="required"/>
          <attribute ref="c:resourceURI"      use="required"/>
          <attribute ref="c:descriptionText"  use="optional"/>
        </extension>
      </complexContent>
    </complexType>

</schema>

